<link rel="stylesheet" href="/css/signin.css">


<div id="signin">
    <h1 class="sign">Sign In</h1>
    <form action="/users/create-session" method="POST">
    <input class="signincred" type="email" name="email" placeholder="Email ID" required><br>
    <input class="signincred" type="password" name="password" placeholder="Password" required><br>
    <input class="signincred" type="submit" value="Sign In">
    
</form>
<p>
    <a href="/users/auth/google">Google Sign-In/Sign-Up</a>
</p>
</div>




